.tabs { padding: 10px 2em }
.up {  
 
    position:fixed; /* фиксированное положение */  
    bottom:50px; /* отступ от нижней части экрана */  
    right:50px; /* отступ справа */  
    cursor:pointer; /* вид курсора при наведении */  
}
.df {  
 
    position:fixed; /* фиксированное положение */  
    bottom:50px; /* отступ от нижней части экрана */  
    left:50px; /* отступ справа */  
    cursor:pointer; /* вид курсора при наведении */  
}